{% extends 'base.html' %}
{% block content %}
<h3>Organized VCs</h3>
<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>VC ID</th>
    <th>Amount</th>
    <th>Interest %</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
    {% for organizer_vcs_obj in organizer_vcs_objs %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ organizer_vcs_obj.name }}</td>
    <td>{{ organizer_vcs_obj.vc_id }}</td>
    <td>{{ organizer_vcs_obj.emi_amount }}</td>
    <td>{{ organizer_vcs_obj.interest }} %</td>
    <td>{{ organizer_vcs_obj.status_verbose }}</td>
    <td>
      <a href="{% url 'vc_detail' organizer_vcs_obj.vc_id %}">Details</a>
      <a href="{% url 'vc_update' organizer_vcs_obj.vc_id %}">Update</a>
    </td>
  </tr>
    {% endfor %}
</table><br><br>

<h3>Participated VCs</h3>
<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>VC ID</th>
    <th>Amount</th>
    <th>Interest %</th>
    <th>Status</th>
  </tr>
    {% for participant_vcs_obj in participant_vcs_objs %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ participant_vcs_obj.name }}</td>
    <td>{{ participant_vcs_obj.vc_id }}</td>
    <td>{{ participant_vcs_obj.emi_amount }}</td>
    <td>{{ participant_vcs_obj.interest }}</td>
    <td>{{ participant_vcs_obj.status_verbose }}</td>
  </tr>
    {% endfor %}
</table><br><br>
{% endblock%}